{% extends "base.html" %}

{% block content %}
    <form action="/convert" method="POST">
        <div class="form-group">
            <label for="svg-code">Votre code SVG :</label>
            <textarea name="svg-code" id="svg-code" rows="10" class="form-control">{{ codeSVG }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="typeConversion" value="convertirPath">Convertir un path</button>
        <button type="submit" class="btn btn-primary" name="typeConversion" value="convertirSvg">Convertir un svg</button>
        <button type="submit" class="btn btn-primary" name="typeConversion" value="convertirClass">Conversion spéciale (avec classe)</button>
    </form>
    {% block result %}
    {% endblock %}
{% endblock %}
